body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Kumbh Sans', sans-serif;
	background:
		url("images/bg-pattern-top.svg") right calc(47vw + 15%) bottom calc(65vh - 15vw) no-repeat,
		url("images/bg-pattern-bottom.svg") left calc(40vw + 25%) top calc(72vh - 10vw) no-repeat,
		hsl(185, 75%, 39%);
}

.card {
	width: 350px;
	border-radius: 1rem;
	overflow: hidden;
	color: hsl(229, 23%, 23%);
	margin: 1.5rem;
	box-shadow: 0 10px 50px -30px #000000;
}

.card__body {
	position: relative;
	display: flex;
	flex-direction: column;
}

.card__body > * {
	height: 145px;
}

.profile-picture {
	position: absolute;
	inset: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	border: 0.3rem white solid;
	height: unset;
}

.profile-info {
	background: white;
	border-bottom: 1px solid hsl(0, 0%, 89%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.name-age {
	display: flex;
	padding: 0.7rem;
	font-size: 1.1rem;
}

.name {
	font-weight: bold;
}

.age {
	margin-left: 0.5rem;
	color: hsl(0, 0%, 59%);
	font-size: 1.1rem;
}

.city {
	padding-bottom: 1.5rem;
	color: hsl(0, 0%, 59%);
	font-size: 0.85rem;
}

.card__footer {
	position: relative;
	background: white;
	padding: 1.5rem;
	display: flex;
}

.stat {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0.5rem;
}

.stat__number {
	font-size: 1.1rem;
	font-weight: bold;
}

.stat__detail {
	margin-top: 0.5rem;
	color: hsl(0, 0%, 59%);
	font-size: 0.75rem;
}